<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">
    <title>Dream Rides</title>
    <link rel="icon" href="../../images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="16x16" href="../../images/favicon.png" type="image/png">
    <meta name="theme-color" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
</head>
<body style="background:#000;opacity: 0;">

${require('../parts/header-main.html')}
<main class="main">
    <div class="section main-section">
        <div class="container main-wrapper">
            <div>
                <div class="main-title">
                    Premium-Autovermietung
                    <span>in der Schweiz</span>
                </div>
                <div class="main-location">
                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M8.68791 16.3711H5.69377L1.7002 22.1114H21.0004L17.0903 16.3711H13.5963" stroke="#fff" stroke-width="1.6"/>
                        <path d="M11.3506 19.9502V10.9502" stroke="#fff" stroke-width="1.6"/>
                        <circle cx="11.3506" cy="6.4502" r="5.5" fill="#fff"/>
                    </svg>
                    Alte Haslen Str. 10, 9053 Teufen AR
                </div>
            </div>
            <div class="main-bot">
                <span class="main-btn">
                    <!--<svg width="160" height="160" expanded="true">
                        <circle cx="50%" cy="50%" r="50%"/>
                    </svg>-->
                    entdecken
                </span>
            </div>
        </div>
    </div>
    <div class="section catalog-section">
        <div class="container">
            <div class="catalog-top__main">
                <svg width="145" height="50" viewBox="0 0 145 50" fill="none" xmlns="http://www.w3.org/2000/svg" class="triple-arrow">
                    <path d="M0.000124244 49.9988L30.3225 49.9988L55.4004 25.0008L31.6905 1.36649L30.3212 3.8147e-06L0 3.8147e-06L25.0779 24.9979L7.75119 42.2694L0.000124244 49.9988ZM31.4613 24.9992L10.9431 4.54653L28.4986 4.54653L49.0168 24.9992L28.4986 45.4519L10.9431 45.4519L31.4613 24.9992Z" fill="black"/>
                    <path d="M55.8568 0.000915527L44.9138 0.000915527L69.9917 24.9988L52.665 42.2703L44.6846 50L75.007 50L100.085 25.0021L76.3749 1.36773L75.2346 0.00124372L55.8568 0.000915527ZM93.7016 25.0005L73.1835 45.4531L55.628 45.4531L76.1461 25.0005L55.628 4.54777L73.1835 4.54777L93.7016 25.0005Z" fill="black"/>
                    <path d="M121.29 1.3649L120.15 0L89.5996 0L114.677 24.9979L97.3508 42.2694L89.5996 49.9991L119.922 49.9991L145 25.0012L141.808 21.8196L121.29 1.3649ZM118.098 45.4536L100.543 45.4536L121.061 25.0009L100.543 4.54819L118.098 4.54819L138.616 25.0009L118.098 45.4536Z" fill="black"/>
                </svg>
            </div>
            <div class="catalog-head__main">
                <div class="section-title">Autovermietung</div>
                <span class="catalog-head__main-descr">Wählen Sie Ihr Wunschauto</span>
            </div>
            <div class="row catalog-main">
                <div class="col-xs-6">
                    <a href="javascript:void(0)" class="catalog-item">
                        <div class="catalog-item__pic">
                            <img src="../../images/catalog/001.jpg" width="1080" height="618" alt="">
                        </div>
                        <div class="catalog-item__info">
                            <div class="catalog-item__text">
                                <span class="catalog-item__title">Mazda CX5</span>
                                <span class="catalog-item__price">
                                    342
                                    <small>euro/tag</small>
                                </span>
                            </div>
                            <div class="catalog-item__logo">
                                <img src="../../images/logos/001.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="javascript:void(0)" class="catalog-item">
                        <div class="catalog-item__pic">
                            <span class="catalog-item__label new">new</span>
                            <img src="../../images/catalog/002.jpg" width="1080" height="618" alt="">
                        </div>
                        <div class="catalog-item__info">
                            <div class="catalog-item__text">
                                <span class="catalog-item__title">BMW X6M Competition</span>
                                <span class="catalog-item__price">
                                    495
                                    <small>euro/tag</small>
                                </span>
                            </div>
                            <div class="catalog-item__logo">
                                <img src="../../images/logos/002.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="javascript:void(0)" class="catalog-item">
                        <div class="catalog-item__pic">
                            <img src="../../images/catalog/003.jpg" width="1080" height="618" alt="">
                        </div>
                        <div class="catalog-item__info">
                            <div class="catalog-item__text">
                                <span class="catalog-item__title">Mercedes GLE 63S AMG</span>
                                <span class="catalog-item__price">
                                    645
                                    <small>euro/tag</small>
                                </span>
                            </div>
                            <div class="catalog-item__logo">
                                <img src="../../images/logos/003.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="javascript:void(0)" class="catalog-item">
                        <div class="catalog-item__pic">
                            <img src="../../images/catalog/004.jpg" width="1080" height="618" alt="">
                        </div>
                        <div class="catalog-item__info">
                            <div class="catalog-item__text">
                                <span class="catalog-item__title">Mercedes G-class AMG 63 Edition 1</span>
                                <span class="catalog-item__price">
                                    235
                                    <small>euro/tag</small>
                                </span>
                            </div>
                            <div class="catalog-item__logo">
                                <img src="../../images/logos/004.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="javascript:void(0)" class="catalog-item">
                        <div class="catalog-item__pic">
                            <img src="../../images/catalog/005.jpg" width="1080" height="618" alt="">
                        </div>
                        <div class="catalog-item__info">
                            <div class="catalog-item__text">
                                <span class="catalog-item__title">Mazda CX5</span>
                                <span class="catalog-item__price">
                                    342
                                    <small>euro/tag</small>
                                </span>
                            </div>
                            <div class="catalog-item__logo">
                                <img src="../../images/logos/001.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="javascript:void(0)" class="catalog-item">
                        <div class="catalog-item__pic">
                            <img src="../../images/catalog/006.jpg" width="1080" height="618" alt="">
                        </div>
                        <div class="catalog-item__info">
                            <div class="catalog-item__text">
                                <span class="catalog-item__title">BMW X6M Competition</span>
                                <span class="catalog-item__price">
                                    495
                                    <small>euro/tag</small>
                                </span>
                            </div>
                            <div class="catalog-item__logo">
                                <img src="../../images/logos/002.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="javascript:void(0)" class="catalog-item">
                        <div class="catalog-item__pic">
                            <img src="../../images/catalog/007.jpg" width="1080" height="618" alt="">
                        </div>
                        <div class="catalog-item__info">
                            <div class="catalog-item__text">
                                <span class="catalog-item__title">Mercedes GLE 63S AMG</span>
                                <span class="catalog-item__price">
                                    645
                                    <small>euro/tag</small>
                                </span>
                            </div>
                            <div class="catalog-item__logo">
                                <img src="../../images/logos/003.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="javascript:void(0)" class="catalog-item">
                        <div class="catalog-item__pic">
                            <img src="../../images/catalog/008.jpg" width="1080" height="618" alt="">
                        </div>
                        <div class="catalog-item__info">
                            <div class="catalog-item__text">
                                <span class="catalog-item__title">Mercedes G-class AMG 63 Edition 1</span>
                                <span class="catalog-item__price">
                                    235
                                    <small>euro/tag</small>
                                </span>
                            </div>
                            <div class="catalog-item__logo">
                                <img src="../../images/logos/004.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-xs-6">
                    <a href="javascript:void(0)" class="catalog-item">
                        <div class="catalog-item__pic">
                            <img src="../../images/catalog/009.jpg" width="1080" height="618" alt="">
                        </div>
                        <div class="catalog-item__info">
                            <div class="catalog-item__text">
                                <span class="catalog-item__title">Mercedes G-class AMG 63 Edition 1</span>
                                <span class="catalog-item__price">
                                    235
                                    <small>euro/tag</small>
                                </span>
                            </div>
                            <div class="catalog-item__logo">
                                <img src="../../images/logos/004.jpg" alt="">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    ${require('../parts/conditions.html')}
    <div class="section about-section">
        <div class="container">
            <img src="../../images/star-lg.png" width="248" height="248" alt="" class="about-star">
            <div class="about-main">
                <div class="about-pic">
                    <img src="../../images/about-pic.jpg" width="892" height="1028" alt="">
                </div>
                <div class="about-info">
                    <div>
                        <div class="section-title">Über uns</div>
                        <p>"Firmenname" wurde von Menschen gegründet, die die Automobilwelt wirklich lieben.</p>
                        <p>Wir sind ein junges, aktives Team, das es bereits geschafft hat, Profis auf seinem Gebiet zu werden und bereit sind, Ihnen exzellenten Service und exzellente Qualität zu bieten. Wir wissen, welches Auto für unsere Kunden immer angenehm und komfortabel sein wird!</p>
                        <p>Wir sind ein junges, aktives Team, das es bereits geschafft hat, Profis auf seinem Gebiet zu werden und bereit sind, Ihnen exzellenten Service und exzellente Qualität zu bieten.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="marquee">
            <div>
                <div>
                    <img src="../../images/logos/001-lg.jpg" alt="">
                </div>
                <div>
                    <img src="../../images/logos/002-lg.jpg" alt="">
                </div>
                <div>
                    <img src="../../images/logos/003-lg.jpg" alt="">
                </div>
                <div>
                    <img src="../../images/logos/004-lg.jpg" alt="">
                </div>
                <div>
                    <img src="../../images/logos/005-lg.jpg" alt="">
                </div>
                <div>
                    <img src="../../images/logos/006-lg.jpg" alt="">
                </div>
                <div>
                    <img src="../../images/logos/001-lg.jpg" alt="">
                </div>
                <div>
                    <img src="../../images/logos/002-lg.jpg" alt="">
                </div>
                <div>
                    <img src="../../images/logos/003-lg.jpg" alt="">
                </div>
                <div>
                    <img src="../../images/logos/004-lg.jpg" alt="">
                </div>
                <div>
                    <img src="../../images/logos/005-lg.jpg" alt="">
                </div>
                <div>
                    <img src="../../images/logos/006-lg.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="section legend-section">
        <div class="container">
            <img src="../../images/legend.png" alt="" class="legend-pic">
            <div class="legend-text">
                <div class="section-title">Spüren Sie, wie es ist, eine Legende zu fahren</div>
                <svg width="145" height="50" viewBox="0 0 145 50" fill="none" xmlns="http://www.w3.org/2000/svg" class="triple-arrow">
                    <path d="M0.000124244 49.9988L30.3225 49.9988L55.4004 25.0008L31.6905 1.36649L30.3212 3.8147e-06L0 3.8147e-06L25.0779 24.9979L7.75119 42.2694L0.000124244 49.9988ZM31.4613 24.9992L10.9431 4.54653L28.4986 4.54653L49.0168 24.9992L28.4986 45.4519L10.9431 45.4519L31.4613 24.9992Z" fill="#fff"/>
                    <path d="M55.8568 0.000915527L44.9138 0.000915527L69.9917 24.9988L52.665 42.2703L44.6846 50L75.007 50L100.085 25.0021L76.3749 1.36773L75.2346 0.00124372L55.8568 0.000915527ZM93.7016 25.0005L73.1835 45.4531L55.628 45.4531L76.1461 25.0005L55.628 4.54777L73.1835 4.54777L93.7016 25.0005Z" fill="#fff"/>
                    <path d="M121.29 1.3649L120.15 0L89.5996 0L114.677 24.9979L97.3508 42.2694L89.5996 49.9991L119.922 49.9991L145 25.0012L141.808 21.8196L121.29 1.3649ZM118.098 45.4536L100.543 45.4536L121.061 25.0009L100.543 4.54819L118.098 4.54819L138.616 25.0009L118.098 45.4536Z" fill="#fff"/>
                </svg>
            </div>
            <div class="lines">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="legend-bot">
                <img src="../../images/legend.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="section faq-section">
        <div class="container">
            <div class="section-title">Häufig gestellte Fragen</div>
            <div class="faq-item">
                <div class="faq-head">
                    <img src="../../images/star-sm.png" alt="">
                    <span>Was kostet die Anmietung eines Autos pro Tag?</span>
                    <i>
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.75004 6.75004V0H8.24996V6.75004H15V8.24996H8.24996V15H6.75004V8.24996H0V6.75004H6.75004Z" fill="black"/>
                        </svg>
                        <svg width="15" height="3" viewBox="0 0 15 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 1.5H15" stroke="black" stroke-width="1.5"/>
                        </svg>
                    </i>
                </div>
                <div class="faq-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante eros, congue eget fermentum sit amet, gravida at mauris. Donec suscipit pretium massa ut venenatis. Cras vitae aliquam erat, id efficitur mauris</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-head">
                    <img src="../../images/star-sm.png" alt="">
                    <span>Was sind die Bedingungen des Mietvertrags?</span>
                    <i>
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.75004 6.75004V0H8.24996V6.75004H15V8.24996H8.24996V15H6.75004V8.24996H0V6.75004H6.75004Z" fill="black"/>
                        </svg>
                        <svg width="15" height="3" viewBox="0 0 15 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 1.5H15" stroke="black" stroke-width="1.5"/>
                        </svg>
                    </i>
                </div>
                <div class="faq-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante eros, congue eget fermentum sit amet, gravida at mauris. Donec suscipit pretium massa ut venenatis. Cras vitae aliquam erat, id efficitur mauris</p>
                </div>
            </div>
            <div class="faq-item">
                <div class="faq-head">
                    <img src="../../images/star-sm.png" alt="">
                    <span>Wie lange kann man ein Auto mieten?</span>
                    <i>
                        <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.75004 6.75004V0H8.24996V6.75004H15V8.24996H8.24996V15H6.75004V8.24996H0V6.75004H6.75004Z" fill="black"/>
                        </svg>
                        <svg width="15" height="3" viewBox="0 0 15 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 1.5H15" stroke="black" stroke-width="1.5"/>
                        </svg>
                    </i>
                </div>
                <div class="faq-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ante eros, congue eget fermentum sit amet, gravida at mauris. Donec suscipit pretium massa ut venenatis. Cras vitae aliquam erat, id efficitur mauris</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section rental-section">
        <div class="container">
            <div class="section-title">WIR “AUTODELUx” RENTAL HELFEN IHNEN, IHRE LEIDENSCHAFT ZU FÜHREN</div>
            <svg width="145" height="50" viewBox="0 0 145 50" fill="none" xmlns="http://www.w3.org/2000/svg" class="triple-arrow">
                <path d="M0.000124244 49.9988L30.3225 49.9988L55.4004 25.0008L31.6905 1.36649L30.3212 3.8147e-06L0 3.8147e-06L25.0779 24.9979L7.75119 42.2694L0.000124244 49.9988ZM31.4613 24.9992L10.9431 4.54653L28.4986 4.54653L49.0168 24.9992L28.4986 45.4519L10.9431 45.4519L31.4613 24.9992Z" fill="black"/>
                <path d="M55.8568 0.000915527L44.9138 0.000915527L69.9917 24.9988L52.665 42.2703L44.6846 50L75.007 50L100.085 25.0021L76.3749 1.36773L75.2346 0.00124372L55.8568 0.000915527ZM93.7016 25.0005L73.1835 45.4531L55.628 45.4531L76.1461 25.0005L55.628 4.54777L73.1835 4.54777L93.7016 25.0005Z" fill="black"/>
                <path d="M121.29 1.3649L120.15 0L89.5996 0L114.677 24.9979L97.3508 42.2694L89.5996 49.9991L119.922 49.9991L145 25.0012L141.808 21.8196L121.29 1.3649ZM118.098 45.4536L100.543 45.4536L121.061 25.0009L100.543 4.54819L118.098 4.54819L138.616 25.0009L118.098 45.4536Z" fill="black"/>
            </svg>
        </div>
    </div>
    <div class="section contacts-section">
        <div class="container">
            <div class="contacts-inner">
                <div class="section-title">Kontakt</div>
                <div class="contacts-main">
                    <div class="contacts-info">
                        <ul>
                            <li>
                                <i>
                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.68791 16.3711H5.69377L1.7002 22.1114H21.0004L17.0903 16.3711H13.5963" stroke="black" stroke-width="1.6"/>
                                        <path d="M11.3506 19.9502V10.9502" stroke="black" stroke-width="1.6"/>
                                        <circle cx="11.3506" cy="6.4502" r="5.5" fill="black"/>
                                    </svg>
                                </i>
                                <div>Alte Haslen Str. 10 9053 Teufen</div>
                            </li>
                            <li>
                                <i>
                                    <svg width="21" height="22" viewBox="0 0 21 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10 6.61035V11.6104L14.5 14.1104" stroke="black" stroke-width="1.6"/>
                                        <circle cx="10.5" cy="11.1104" r="9.6" stroke="black" stroke-width="1.8"/>
                                    </svg>
                                </i>
                                <div>
                                    <span>Mo. – Fr. 10:00-18:00 Uhr</span>
                                    <span>Oder nach Vereinbarung</span>
                                </div>
                            </li>
                            <li>
                                <i>
                                    <svg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.83333 4.58333V3.3275C1.83501 3.10865 1.93133 2.89918 2.10147 2.74435C2.27162 2.58951 2.50193 2.50175 2.74267 2.5H19.2573C19.7597 2.5 20.1667 2.87083 20.1667 3.3275V16.6725C20.165 16.8914 20.0687 17.1008 19.8985 17.2557C19.7284 17.4105 19.4981 17.4983 19.2573 17.5H2.74267C2.50141 17.4998 2.27012 17.4125 2.09962 17.2573C1.92911 17.1022 1.83333 16.8918 1.83333 16.6725V15.8333H18.3333V6.08333L11 12.0833L1.83333 4.58333ZM0 8.33333H4.58333V10H0V8.33333ZM0 12.5H7.33333V14.1667H0V12.5Z" fill="black"/>
                                    </svg>
                                </i>
                                <div>
                                    <a href="mailto:info@schweizer-edelmetallhandel.ch">info@schweizer-edelmetallhandel.ch</a>
                                </div>
                            </li>
                            <li>
                                <i>
                                    <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M20.6252 14.3925L14.6964 13.7063L11.8614 16.5413C8.66778 14.917 6.07195 12.3212 4.4477 9.1275L7.29395 6.28125L6.6077 0.375H0.408946C-0.243554 11.8275 9.1727 21.2437 20.6252 20.5912V14.3925Z" fill="black"/>
                                    </svg>
                                </i>
                                <div>
                                    <a href="tel:0715434294">071-5434294</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="contacts-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2701.306273683865!2d9.38881881558716!3d47.38645677917062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479b1f7ae2cd2fa5%3A0x47a3de6f9ea6fc3!2zQWx0ZSBIYXNsZW5zdHJhc3NlLCA5MDUzIFRldWZlbiwg0KjQstC10LnRhtCw0YDQuNGP!5e0!3m2!1sru!2spl!4v1677231518591!5m2!1sru!2spl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="lines lines_reverse">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
    ${require('../parts/consult.html')}
</main>
${require('../parts/footer.html')}

</body>
</html>
