.nf-page{
  padding: 88px 0 76px;
  @include bp(xs) {
    padding: 30px 0 46px;
  }
}

.nf-main{
  border-top: 1px solid #000;
  padding: 50px 0 88px;
  @include bp(xs) {
    padding: 15px 0 30px;
  }
}

.nf-title{
  display: block;
  font-family: $title;
  font-size: 42px;
  line-height: 55px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 38px;
  @include bp(md) {
    font-size: 36px;
    line-height: 49px;
  }
  @include bp(sm) {
    font-size: 26px;
    line-height: 39px;
  }
  @include bp(xs) {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 22px;
  }
}

.nf-pic{
  display: block;
  width: 552px;
  height: 261px;
  object-fit: contain;
  margin: 0 auto 38px;
  @include bp(sm) {
    max-width: 100%;
    height: fit-content;
  }
  @include bp(xs) {
    width: calc(100% - 44px);
    height: calc(50.2vw - 44px);
    margin-bottom: 20px;
  }
}

.nf-text{
  text-align: center;
  div{
    font-family: $title;
    font-size: 21px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 11px;
    @include bp(xs) {
      font-size: 12px;
      line-height: 16px;
    }
  }
  span{
    display: block;
    font-size: 21px;
    line-height: 100%;
    @include bp(xs) {
      font-size: 13px;
    }
  }
}

.nf-back{
  display: flex;
  flex-direction: column;
  text-decoration: none;
  width: fit-content;
  &:hover{
    opacity: .6;
    text-decoration: none;
    span{
      color: #000;
      text-decoration: none;
    }
  }
  svg{
    transform: scale(-1, 1);
  }
  span{
    font-size: 18px;
    line-height: 19px;
    margin-top: 20px;
    color: #000;
    text-decoration: none;
    @include bp(xs) {
      font-size: 13px;
      line-height: 13px;
      margin-top: 9px;
    }
  }
}
