@font-face {
  font-family: "Questrial";
  src: url("../fonts/Questrial-Regular.eot");
  src: url("../fonts/Questrial-Regular.eot?#iefix") format("embedded-opentype"),
  url("../fonts/Questrial-Regular.woff") format("woff"), url("../fonts/Questrial-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DrukWide";
  src: url("../fonts/DrukWide-Medium.eot");
  src: url("../fonts/DrukWide-Medium.eot?#iefix") format("embedded-opentype"),
  url("../fonts/DrukWide-Medium.woff") format("woff"), url("../fonts/DrukWide-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}







